.container {
  margin: 0px;
  padding: 10px;
  display: flex;
  min-width: 1032px;
  position: relative;
  background-color: #eeeeee;
  align-items: center;
  justify-content: center;
}

.loginView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1032px;
  height: 720px;
  background: url(../../public/background.png) #ffffff no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.loginBlock {
  margin-left: 530px;
  width: 560px;
  height: 250px;
  padding: 80px 80px 80px 80px;
}
.loginBlock p {
  font-size: 2em;
  font-weight: bold;
}
.loginBlock button {
  background: url(../../public/google.png) #ffffff no-repeat;
  width: 278px;
  height: 43px;
  cursor: pointer;
}

.operationView {
  display: flex;
  align-items: left;
  justify-content: flex-start;
  width: 1032px;
  height: 720px;
  background: #ffffff;
  border-radius: 10px;
}
.operationView .menuView {
  width: 250px;
  height: 100%;
  border-radius: 10px;
}
.operationView .menuView .menuLogo {
  width: 100%;
  height: 150px;
}
.operationView .menuView .menuBlock {
  width: 100%;
}
.operationView .jobBoard {
  display: flex;
  width: 782px;
  height: 100%;
  background: #fcfcfc;
  border-radius: 0px 10px 10px 0px;
}